@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Staatliches:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin: 0;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
}

.quiz-holder {
  display: flex;
  justify-content: space-between;
}

canvas {
  display: block;
}

.container {
  margin: 2rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
}

.questions-score {
  background: #eeeeff;
  width: 220px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.states-questions {
  border: 1px solid #000080;
  padding: 1em;
  height: 200px;
}

.answer {
  background: #000080;
  padding: 0.4em 1em;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
}

.score-holder {
  margin-top: 1rem;
  border: 1px solid #000080;
  padding: 0;
  flex: 1;
}

.score {
  background: #ccccff;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2rem;
  padding-left: 1rem;
}

.wrong-answers {
  max-height: calc(400px - 5rem);
  overflow-y: scroll;
  padding-left: 1rem;
}

.wrong span {
  color: #c00000;
}
