@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Staatliches:400,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin: 0;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

form {
  border: 1px solid #444;
  padding: 0.5rem;
}

label {
  display: inline-block;
  width: 8em;
}

input {
  font-size: inherit;
}

.positioned {
  position: absolute;
  top: 0;
  left: 50px;
}

.positioned img {
  cursor: crosshair;
}

.pos-table {
  display: block;
  border: 1px solid #888;
  border-collapse: collapse;
  width: 450px;
  margin-right: 1rem;
  max-height: 92vh;
  overflow-y: scroll;
}

.pos-table th,
.pos-table td {
  padding-left: 0.3em;
  border: 1px solid #bbb;
}

td.name {
  width: 160px;
}

td.numeric {
  font-family: monospace;
  font-size: 16px;
  text-align: right;
  padding-right: 0.3em;
}

.spot {
  position: absolute;
  background: red;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  transform: translate(-2px, -2px);
  pointer-events: none;   /* Click-through */
}

.spot.capital {
  background: green;
}

.spot.selected {
  background: blue;
}
